body {
  margin: 0;
  background: antiquewhite;
}

* {
  box-sizing: border-box;
}
.parent {
  display: grid;
  gap: 5px;
  grid-template-areas:
    'h1 h1 h1' 'header header header' 'banner banner off1' 'banner banner off2'
    'menu main main ' 'recent main main ' ' tags main main ' 'footer footer footer';
}
.parent > * {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
h1 {
  background: blue;
  color: white;
  grid-area: h1;
}

header {
  background: red;
  color: white;
  grid-area: header;
}
.banner {
  /* background: linear-gradient(to right, red 70%, blue); */

  background: linear-gradient(135deg, red, blue);
  color: white;
  height: 20vh;
  grid-area: banner;
}
.offer1 {
  background: brown;
  color: white;
  grid-area: off1;
}
.offer2 {
  background: purple;
  color: white;
  grid-area: off2;
}
.menu {
  background: skyblue;
  color: white;
  grid-area: menu;
}
.recent {
  background: burlywood;
  color: white;
  grid-area: recent;
}
.tags {
  background: orangered;
  color: white;
  grid-area: tags;
}
.main {
  min-height: 30vh;
  background: radial-gradient(red, blue);
  /* radial display */
  grid-area: main;
}
footer {
  background: black;
  color: white;
  grid-area: footer;
}

@media (max-width: 992px) {
  .parent {
    grid-template-areas:
      'h1 h1'
      'header header '
      'banner banner'
      'off1 off2'
      'menu menu'
      'main main'
      'recent tags'
      'footer footer';
  }
}

@media (max-width: 550px) {
  .parent {
    grid-template-areas:
      'h1 '
      ' header '
      'banner '
      'off1'
      'off2'
      'menu '
      'main '
      'recent'
      'tags'
      'footer ';
  }
}
